@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo: "Laila", serif;
    --fonte-texto: "Outfit", sans-serif;
    --cor-cartao: #2f6690ff;
    --cor-cabecalho: #3a7ca5ff;
    --cor-texto02: #000000;
    --cor-destaque: #d9dcd6ff;
    --cor-texto01: #16425bff;
    --cor-fundo: #81c3d7ff;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-texto);
}

header, footer{
    background-color: var(--cor-cabecalho);
    text-align: center;
    padding: 2em;
    color: var(--cor-texto02);
}

header h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
}
.projetos{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartao{
    text-align: center;
    background-color: var(--cor-cartao);
    width: 100%;
    margin: 1em 0;
    color: var(--cor-destaque);
    padding: 1em 0;
    border-radius: 10px;
}

.cartao:hover{
    background-color: var(--cor-cabecalho);
}

.cartao a{
    text-decoration: none;
    color: var(--cor-texto01);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: var(--cor-destaque);
}

.principal-numero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.numero-input{
    font-size: 1.2em;
    padding: 1em;
}
.numero-botao{
    margin-left: 1em;
    font-size: 1.2em;
    padding: 1em;
    background-color: var(--cor-cartao);
    color: var(--cor-destaque);
    border-radius: 15px;
}